.mode-select {
	display: flex;
	width: min-content;

	border-radius: 8px;
	overflow: hidden;

	button {
		background-color: transparent;
		border: 0;
		padding: 4px 12px;
		cursor: pointer;

		color: var(--button);
		background-color: var(--button-secondary);

		&:hover { background-color: var(--button-secondary-hover); }

		&.active {
			color: var(--button-secondary);
			background-color: var(--button);

			&:hover { background-color: var(--button-hover); }
		}
	}
}